<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS by Piekarek</title>
    <!-- Bulma CSS framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .custom-heading {
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">IMS by Piekarek</a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('primers') }}" class="navbar-item">Primers</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
                    {% if current_user.is_admin %}
                        <a href="{{ url_for('auth.manage_users') }}" class="navbar-item">Benutzerverwaltung</a>
                    {% endif %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="section">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="container">
                    {% for message in messages %}
                        <div class="notification is-primary">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>
