{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="notification is-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="columns">
    <!-- Sidebar für Primer Listen -->
    <div class="column is-3">
        <aside class="menu">
            <p class="menu-label">
                Primer Lists
            </p>
            <ul class="menu-list" id="primer-lists">
                <!-- Primer Listen werden hier dynamisch eingefügt -->
            </ul>
            <br>
            <!-- Button, um das modale Fenster zu öffnen -->
            <button class="button is-primary" id="open-modal-button">New Primer-List</button>
        </aside>
    </div>

    <!-- Tabelle für Primer -->
    <div class="column">
        <aside class="menu">
            <p class="menu-label">
                Primers
            </p>
            <ul class="menu-list">
                <table id="PrimerTable" class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Application</th>
                            <th>PCR</th>
                            <th>Target</th>
                            <th>Oligos</th>
                            <th>Sequence</th>
                            <th>Box</th>
                            <th>Position</th>
                            <th>Reference</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Die Zeilen werden dynamisch von DataTables hinzugefügt -->
                    </tbody>
                </table>
            </ul>
        </aside>
    </div>
</div>

<!-- Modales Fenster -->
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Neue Primer-Liste</p>
      <button class="delete" aria-label="close" id="close-modal-button"></button>
    </header>
    <section class="modal-card-body">
      <form id="new-primer-list-form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Visibility</label>
          <div class="control">
            <label class="radio"><input type="radio" name="visibility" value="Private" required> Private</label>
            <label class="radio"><input type="radio" name="visibility" value="Public" required> Public</label>
            {% if current_user.is_admin %}
              <label class="radio"><input type="radio" name="visibility" value="Standard" required> Standard</label>
            {% endif %}
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="button" id="save-primer-list-button">Speichern</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<!-- Platzhalter für zusätzlichen Inhalt, falls benötigt -->
<div class="content" style="clear: both;">
    <!-- Hier kann zusätzlicher Inhalt hinzugefügt werden -->
</div>

<script type="text/javascript">
    var primerLists = {{ primer_lists | tojson }};
    var currentUserId = {{ current_user.id | tojson }};
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts_primer.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles_primer.css') }}">
{% endblock %}
