<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    form {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
<form action="{{ url_for('auth.reset_password_request') }}" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <button type="submit">Request Password Reset</button>
</form>
