{% extends 'base.html' %}

{% block content %}
    <h2 class="title">Registrieren</h2>

    {% if get_flashed_messages() %}
        <div class="notification is-danger">
            {{ get_flashed_messages()[0] }}
        </div>
    {% endif %}

    <form action="{{ url_for('auth.signup') }}" method="post">
        <div class="field">
            <label class="label">E-Mail</label>
            <div class="control">
                <input class="input" type="text" name="email" placeholder="E-Mail" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" placeholder="Name" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Passwort</label>
            <div class="control">
                <input class="input" type="password" name="password" placeholder="Passwort" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Registrieren</button>
            </div>
        </div>
    </form>
{% endblock %}
